<% layout('layouts/boilerplate') -%>

<h1>Edit Campground</h1>

<form
  class="needs-validation"
  novalidate
  action="/campgrounds/<%= campgroundType._id %>?_method=PUT"
  method="POST"
>
  <div class="mb-3">
    <label for="title" class="form-label">Current Title </label>
    <input
      type="text"
      class="form-control"
      id="title"
      name="title"
      value="<%= campgroundType.title %>"
      required
    />
    <div class="valid-feedback">Looks Good!</div>
    <div class="invalid-feedback">Enter Title</div>
  </div>

  <div class="mb-3">
    <label for="locations" class="form-label">Current Location</label>
    <input
      type="text"
      class="form-control"
      name="location"
      id="location"
      value="<%= campgroundType.location %>"
      required
    />
    <div class="valid-feedback">Looks Good!</div>
    <div class="invalid-feedback">Enter Location</div>
  </div>

  <div class="mb-3">
    <label for="description" class="form-label">Current Description</label>
    <input
      type="text"
      class="form-control"
      name="description"
      id="description"
      value="<%= campgroundType.description %>"
      required
    />
    <div class="valid-feedback">Looks Good!</div>
    <div class="invalid-feedback">Enter Description</div>
  </div>

  <div class="input-group mb-3">
    <label for="price" class="form-label visually-hidden">Current Price</label>
    <span class="input-group-text">£</span>

    <input
      type="number"
      class="form-control"
      name="price"
      id="price"
      value="<%= campgroundType.price %>"
      required
    />
    <div class="valid-feedback">Looks Good!</div>
    <div class="invalid-feedback">Enter Amount</div>
  </div>

  <input class="btn btn-success m-1" type="submit" value="Edit Campground" />

  <a
    class="btn btn-danger m-1"
    href="/campgrounds/<%= campgroundType._id %>"
    role="button"
    >Cancel</a
  >
</form>
